{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block title %}Projects{% endblock %}


{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}


{% block content %}
    <div class="results">
        <h1>Projects - All
        </h1>
        <table id="result_list" style="width:100%">
            <thead>
                <tr>
                    <th>Job #</th>
                    <th>Name</th>
                    <th>Client</th>
                    <th>Total Budget</th>
                    <th>Project Status</th>
                    <th>Estimate</th>
                    <th>Purchase Order</th>
                    <th>Project Start</th>
                    <th>Billing Date</th>
                </tr>
            </thead>
            {% for project in object_list %}
                <tr>
                    <td><a href="/project/{{ project.id }}/change/">{{ project.job_number }}</a></td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.client }}</td>
                    <td>${{ project.total_budget }}</td>
                    <td>{{ project.project_status }}</td>
                    <td>{{ project.estimate }}</td>
                    <td>{{ project.Purchase_order }}</td>
                    <td>{{ project.project_start }}</td>
                    <td>{{ project.billing_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if user.groups.all.0 == 'Systems Admin' %}
              {% admin_actions %}
    {% endif %}
{% endblock %}